<div class="flex flex-col items-center justify-center text-center p-8">
    <h3 class="text-4xl font-extrabold text-blue-500 uppercase">Sobre Nosotros</h3>
    <p class="mt-4 text-lg text-gray-700 max-w-lg">
En CAPSGAMES, llevamos la pasión por los videojuegos al siguiente nivel. 
    Encuentra las últimas consolas, accesorios y juegos al mejor precio. 
    ¡Vive la mejor experiencia gamer con nosotros!
    </p>
</div>

<section class="mt-8 flex flex-col items-center justify-center text-center p-8 bg-gray-100 rounded-lg shadow-lg">
    <h3 class="text-3xl font-semibold text-blue-500">Nuestra Misión</h3>
    <p class="mt-4 text-lg text-gray-700 max-w-lg">
    Nuestra misión es ofrecer productos de alta calidad que enriquezcan la experiencia de cada jugador, brindando un servicio excepcional y adaptado a las necesidades de nuestros clientes.
    </p>
    
<figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
    <a href="#">
      <img class="rounded-lg" src="https://cdn.pixabay.com/photo/2017/08/08/15/21/elephant-2611678_640.jpg" alt="image description">
    </a>
    <figcaption class="absolute px-4 text-lg text-white bottom-6">

    </figcaption>
  </figure>
  
</section>

<section class="mt-8 flex flex-col items-center justify-center text-center p-8 bg-gray-100 rounded-lg shadow-lg">
    <h3 class="text-3xl font-semibold text-blue-500">Nuestra Visión</h3>
    <p class="mt-4 text-lg text-gray-700 max-w-lg">
Convertirnos en la tienda líder en productos de gaming, destacándonos por la innovación, calidad y un servicio al cliente excepcional.
    </p>
    
<figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
    <a href="#">
      <img class="rounded-lg" src="https://www.istockphoto.com/photo/business-man-running-on-arrow-shaped-bridge-to-the-light-gm1686497935-537114015?utm_source=pixabay&utm_medium=affiliate&utm_campaign=sponsored_image&utm_content=srp_topbanner_media&utm_term=vision" alt="image description">
    </a>
    <figcaption class="absolute px-4 text-lg text-white bottom-6">
    </figcaption>
  </figure>
  
</section>
