
<br>
<div class="gallery"><
    <div *ngFor="let image of images; let i = index" 
        class="gallery-item" 
        [class.selected]="selectedIndex === i" 
        (click)="selectImage(i)">
        <img [src]="image" [alt]="'Imagen ' + (i + 1)">
    </div>
</div>


<br>
<div>

    <div class="grid-container">
        <div class="card">
            <img src="assets/image/1.jpg" alt="Product 1">
            <h5>HELL DRIVERS</h5>
            <p>$59</p>
            <button>Más de datelles...</button>
        </div>
        <div class="card">
            <img src="assets/image/2.jpg" alt="Product 2">
            <h5>BLACK MY WOKONG</h5>
            <p>$49</p>
            <button>Más de datelles...</button>
        </div>
        <div class="card">
            <img src="assets/image/3.jpg" alt="Product 3">
            <h5>Persona 3 Reload</h5>
            <p>$99</p>
            <button>Más de datelles...</button>
        </div>
    
        <div class="card">
            <img src="assets/image/4.jpg" alt="Product 4">
            <h5>Product 4</h5>
            <p>$29</p>
            <button>Más de datelles...</button>
        </div>
        <div class="card">
            <img src="assets/image/5.jpg" alt="Product 5">
            <h5>CALL OF DUTY BLACK OPS</h5>
            <p>$19</p>
            <button>Más de datelles...</button>
        </div>
        <div class="card">
            <img src="assets/image/6.jpg" alt="Product 6">
            <h5>MINECRAFT</h5>
            <p>$99</p>
            <button>Más de datelles...</button>
        </div>
    </div>
    

</div>
<br>